In [158]:
import pandas as pd

linkGit=    "https://github.com/Halabbi/PC2_BOTTONI/raw/refs/heads/main/HDL.csv"   #paste link here!

HDI=pd.read_csv(linkGit)

In [159]:
HDI

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
#eliminé las columnas que aparecían NaN innecesarios
columns_to_drop = ['Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7', 'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 13']
HDI_cleaned = HDI.drop(columns=columns_to_drop)
HDI_cleaned

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $),NaN,NaN
...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
HDI_cleaned=HDI_cleaned.dropna(subset=['Unnamed: 2','Unnamed: 4', 'Unnamed: 6','Unnamed: 8','Unnamed: 10'])
HDI_cleaned

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14
3,NaN,NaN,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $),NaN,NaN
5,NaN,NaN,2021,2021,2021,2021,2021,2021,2020
7,1,Switzerland,"0,962","84,0","16,5","13,9",66.933,5,3
8,2,Norway,"0,961","83,2","18,2","13,0",64.660,6,1
...,...,...,...,...,...,...,...,...,...
221,NaN,Sub-Saharan Africa,"0,547","60,1","10,3","6,0",3.699,—,—
223,NaN,Least developed countries,"0,540","64,2","10,2","5,2",2.881,—,—
224,NaN,Small island developing states,"0,730","70,3","12,4","9,1",16.782,—,—
226,NaN,Organisation for Economic Co-operation and Dev...,"0,899","79,0","16,5","12,3",45.087,—,—
228,NaN,World,"0,732","71,4","12,8","8,6",16.752,—,—

In [162]:
#Cambién el nombre a los Unnamed
change={'Unnamed: 2':'','Unnamed: 4':'SDG3', 'Unnamed: 6':'SDG4.3','Unnamed: 8':'SDG4.4','Unnamed: 10':'SDG8.5','Unnamed: 12':'','Unnamed: 14':''}
HDI_cleaned.rename(columns=change, inplace=True)
HDI_cleaned

C:\Users\Mahli\AppData\Local\Temp\ipykernel_3476\715834949.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  HDI_cleaned.rename(columns=change, inplace=True)

,Back,Table 1. Human Development Index and its components,,SDG3,SDG4.3,SDG4.4,SDG8.5,,
3,NaN,NaN,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $),NaN,NaN
5,NaN,NaN,2021,2021,2021,2021,2021,2021,2020
7,1,Switzerland,"0,962","84,0","16,5","13,9",66.933,5,3
8,2,Norway,"0,961","83,2","18,2","13,0",64.660,6,1
...,...,...,...,...,...,...,...,...,...
221,NaN,Sub-Saharan Africa,"0,547","60,1","10,3","6,0",3.699,—,—
223,NaN,Least developed countries,"0,540","64,2","10,2","5,2",2.881,—,—
224,NaN,Small island developing states,"0,730","70,3","12,4","9,1",16.782,—,—
226,NaN,Organisation for Economic Co-operation and Dev...,"0,899","79,0","16,5","12,3",45.087,—,—
228,NaN,World,"0,732","71,4","12,8","8,6",16.752,—,—

In [163]:
#Se cambia los NaN por espacios en blanco sin alterar la tabla 
HDI_cleaned=HDI_cleaned.fillna('')
HDI_cleaned

,Back,Table 1. Human Development Index and its components,,SDG3,SDG4.3,SDG4.4,SDG8.5,,
3,,,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $),,
5,,,2021,2021,2021,2021,2021,2021,2020
7,1,Switzerland,"0,962","84,0","16,5","13,9",66.933,5,3
8,2,Norway,"0,961","83,2","18,2","13,0",64.660,6,1
...,...,...,...,...,...,...,...,...,...
221,,Sub-Saharan Africa,"0,547","60,1","10,3","6,0",3.699,—,—
223,,Least developed countries,"0,540","64,2","10,2","5,2",2.881,—,—
224,,Small island developing states,"0,730","70,3","12,4","9,1",16.782,—,—
226,,Organisation for Economic Co-operation and Dev...,"0,899","79,0","16,5","12,3",45.087,—,—
228,,World,"0,732","71,4","12,8","8,6",16.752,—,—

In [164]:
#Se reemplaza todas las comas por puntos
HDI_new= HDI_cleaned.replace(',', '.', regex=True)
HDI_new

,Back,Table 1. Human Development Index and its components,,SDG3,SDG4.3,SDG4.4,SDG8.5,,
3,,,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $),,
5,,,2021,2021,2021,2021,2021,2021,2020
7,1,Switzerland,0.962,84.0,16.5,13.9,66.933,5,3
8,2,Norway,0.961,83.2,18.2,13.0,64.660,6,1
...,...,...,...,...,...,...,...,...,...
221,,Sub-Saharan Africa,0.547,60.1,10.3,6.0,3.699,—,—
223,,Least developed countries,0.540,64.2,10.2,5.2,2.881,—,—
224,,Small island developing states,0.730,70.3,12.4,9.1,16.782,—,—
226,,Organisation for Economic Co-operation and Dev...,0.899,79.0,16.5,12.3,45.087,—,—
228,,World,0.732,71.4,12.8,8.6,16.752,—,—

In [165]:
#Se agrega el dato que falta en la tabla
HDI_new.iloc[2, 1] = 'VERY HIGH HUMAN DEVELOPMENT'
HDI_new

,Back,Table 1. Human Development Index and its components,,SDG3,SDG4.3,SDG4.4,SDG8.5,,
3,,,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $),,
5,,VERY HIGH HUMAN DEVELOPMENT,2021,2021,2021,2021,2021,2021,2020
7,1,Switzerland,0.962,84.0,16.5,13.9,66.933,5,3
8,2,Norway,0.961,83.2,18.2,13.0,64.660,6,1
...,...,...,...,...,...,...,...,...,...
221,,Sub-Saharan Africa,0.547,60.1,10.3,6.0,3.699,—,—
223,,Least developed countries,0.540,64.2,10.2,5.2,2.881,—,—
224,,Small island developing states,0.730,70.3,12.4,9.1,16.782,—,—
226,,Organisation for Economic Co-operation and Dev...,0.899,79.0,16.5,12.3,45.087,—,—
228,,World,0.732,71.4,12.8,8.6,16.752,—,—

In [166]:
#Conteo de la fila Back
HDI_new['Back'] = range(-2, len(HDI_new) -2)

HDI_new

,Back,Table 1. Human Development Index and its components,,SDG3,SDG4.3,SDG4.4,SDG8.5,,
3,-2,,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,-1,Country,Value,(years),(years),(years),(2017 PPP $),,
5,0,VERY HIGH HUMAN DEVELOPMENT,2021,2021,2021,2021,2021,2021,2020
7,1,Switzerland,0.962,84.0,16.5,13.9,66.933,5,3
8,2,Norway,0.961,83.2,18.2,13.0,64.660,6,1
...,...,...,...,...,...,...,...,...,...
221,206,Sub-Saharan Africa,0.547,60.1,10.3,6.0,3.699,—,—
223,207,Least developed countries,0.540,64.2,10.2,5.2,2.881,—,—
224,208,Small island developing states,0.730,70.3,12.4,9.1,16.782,—,—
226,209,Organisation for Economic Co-operation and Dev...,0.899,79.0,16.5,12.3,45.087,—,—
228,210,World,0.732,71.4,12.8,8.6,16.752,—,—

In [167]:
#Se elimina los números innecesarios de las filas 
HDI_new.iloc[1, 0] = ""
HDI_new.iloc[0, 0] = ""
HDI_new.iloc[2, 0] = ""

HDI_new

C:\Users\Mahli\AppData\Local\Temp\ipykernel_3476\2790341747.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  HDI_new.iloc[1, 0] = ""

,Back,Table 1. Human Development Index and its components,,SDG3,SDG4.3,SDG4.4,SDG8.5,,
3,,,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,,Country,Value,(years),(years),(years),(2017 PPP $),,
5,,VERY HIGH HUMAN DEVELOPMENT,2021,2021,2021,2021,2021,2021,2020
7,1,Switzerland,0.962,84.0,16.5,13.9,66.933,5,3
8,2,Norway,0.961,83.2,18.2,13.0,64.660,6,1
...,...,...,...,...,...,...,...,...,...
221,206,Sub-Saharan Africa,0.547,60.1,10.3,6.0,3.699,—,—
223,207,Least developed countries,0.540,64.2,10.2,5.2,2.881,—,—
224,208,Small island developing states,0.730,70.3,12.4,9.1,16.782,—,—
226,209,Organisation for Economic Co-operation and Dev...,0.899,79.0,16.5,12.3,45.087,—,—
228,210,World,0.732,71.4,12.8,8.6,16.752,—,—